/node_modules
/public/hot
/public/storage
/public/upload_invoice
/public/upload_file_pr
/public/upload_pengajuan
/public/upload_quotation
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
